
.img{
    width: 40%;
     /* height: 25; */
     margin-left:auto;
     margin-right: auto;
}
.delete{
    margin-left:25%;  
}
 .container{
    widows: 100%;
}
/* @media(max-width: 500px) {
    .img{
      min-width: auto;
      min-height: auto;
      float: none;
      display: left;
    }
     .images{
      float: none;
    } 
  } */