/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap'); */


/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


/* li,
a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(207, 182, 182);
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(77, 185, 212);
}

.myContainer {
    margin: auto;
    width: 70%;
}

.images {
    border: 2px solid red;
} */